footer.page-footer {
  max-width: 800px;
  width: 100%;

  margin: 0 auto;
  padding: 0.5rem;

  border-top: 1px solid var(--border-color);
  font-size: 0.8rem;

  nav {
    font-family: var(--monospaced-fonts);

    ul li {
      margin: 0 0.5rem;

      &:first-child {
        margin-left: 0;
      }
      &:nth-child(2):after {
        content: "|";
        margin-left: 1.5rem;
        color: var(--border-color);
      }

    }
  }
}
