header.page-header {
  border-bottom: 2px solid var(--light-grey);
  padding: 1rem;

  .container {
    display: flex;
    margin: 0 auto;
    padding: 0 0.5rem;

    width: 100%;
    max-width: 800px;

    .header-site-name {
      margin-right: auto;

      h1 {
        margin: 0;
        font-size: 1.5rem;
        line-height: 1;
      }
    }

    nav {
      margin-left: auto;
      font-family: var(--monospaced-fonts);
      text-align: right;
      margin: auto 0;

      ul {
        margin: 0;

        li {
          display: inline;
          margin-left: 1rem;

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }

    @media (max-width: 450px) {
      width: 100%;

      .header-site-name,
      nav {
        width: 100%;
      }
    }
  }
}
