---
---

body {
	max-width:800px;
	margin:40px auto;
	padding:0 10px;
	font:18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	color:#444;
	line-height:1.2;
}
h1,h2,h3 { line-height:1.2 }

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8rem;
}

img {
	max-width: 100%;
}
.caption {
	margin-top: 0.2rem;
	font-size: 0.8rem;
}

@media (prefers-color-scheme: dark) {
	body {
		color:white;
		background:#444;
	}
	a:link { color:#5bf }
	a:visited { color:#ccf}
}

@import
	"./header",
	"./post",
	"./category";