@import "./monokai";

.post {
  header {
    h1 {
      font-size: 2.5rem;
      margin: 1rem 0;
    }

    h2 {
      font-weight: 400;
      font-style: italic;
    }

    .dateline {
      font-size: 0.95rem;
      margin-bottom: 1rem;
      font-family: var(--monospaced-fonts);
    }

    figure {
      margin: 0;
      margin-bottom: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      img {
        max-height: 35vh;
        max-width: 100%;
        object-position: 50% 50%;
        object-fit: cover;
      }
    }
  }

  #articleBody {
    margin-top: 3rem;

    img {
      max-width: 100%;
      max-height: 3 0rem;
    }
  }

  table {
    border-collapse: collapse;
    border-radius: var(--border-radius);
    border: var(--table-border-size) solid var(--border-color);
    overflow-y: scroll;

    thead {
      background: var(--thead-background);
    }

    th,
    td {
      padding: 10px;
      border: var(--table-border-size) solid var(--border-color);
    }

    td:first-child,
    th:first-child {
      border-left: none;
    }
  }

  .caption {
    font-size: 0.8rem;
    font-style: italic;
  }
}
