@font-face {
    font-family: "Space Mono";
    src: local("Space Mono"), local("SpaceMono"), url("SpaceMono-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Space Mono";
    src: local("Space Mono Italic"), local("SpaceMonoItalic"), url("SpaceMono-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Space Mono";
    src: local("Space Mono Bold"), local("SpaceMonoBold"), url("SpaceMono-Boldttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Space Mono";
    src: local("Space Mono Bold Italic"), local("SpaceMonoBoldItalic"),
        url("SpaceMono-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

:root {
    --content-width: 900px;

    --main-text-color: #222;
    --light-text-color: #ddd;
    --background-color: #fff;
    --border-color: #ccc;

    --link-color: #1976d2;
    --blockquote-background: #dcebfb;
    --code-background: #333;

    --table-border-size: 1px;
    --thead-background: #f1f1f1;

    --category-pill-background: #ddd;
    --category-pill-color: #333;

    --border-radius: 5px;

    --monospaced-fonts: "Space Mono", "Courier New", Courier, monospace;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-text-color: #ddd;
        --background-color: #222;
        --border-color: #666;

        --link-color: #64b1ff;
        --thead-background: #333;
        --blockquote-background:#0a3157;

        --category-pill-background: #444;
        --category-pill-color: #ddd;
    }
}