// Colours
:root {
    --main-text-color: #222;
    --light-text-color: #ddd;
    --background-color: #fff;
    --border-color: #aaa;

    --link-color: #1976d2;
    --blockquote-background: #eee;
    --code-background: #333;

    --table-border-size: 1px;
    --thead-background: #eee;

    --border-radius: 5px;

    --monospaced-fonts: "Space Mono", "Courier New", Courier, monospace;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-text-color: #ddd;
        --background-color: #222;
        --border-color: #666;

        --link-color: #378fe7;
        --thead-background: #333;
        --blockquote-background: var(--code-background);
    }
}
