@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-stone-50 dark:bg-stone-950 text-stone-900 dark:text-stone-100;
  font-family: var(--body-font);
}

.font-body {
  font-family: var(--body-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-heading {
  font-family: var(--headings-font);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .center-content {
    @apply w-full max-w-4xl mx-auto;
  }
}

a {
  @apply underline transition-all duration-300 decoration-2;
}

a:focus,
a:hover {
  @apply text-eoinblue-600 dark:text-eoinblue-400 hover:decoration-inherit focus:decoration-inherit;
}
