<!DOCTYPE html>
<html lang="en">
<html>

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">

    <script async defer data-domain="eoinobrien.ie" src="https://plausible.eoin.co/js/plausible.js"></script>
</head>

<body>
    {%- include header.html -%}

    <main class="container">

        {{ content }}

    </main>

    {%- include footer.html -%}
</body>

</html>