---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/Article">

  <header>
    {% if page.image %}
    <figure>
      <img
        src="{% if page.image.path contains '://' %}{{ page.image.path }}{% else %}{{ site.baseurl }}/{{ page.image.path }}{% endif %}"
        alt="{{ page.image.alt }}" itemprop="image" />
      {% if page.image.caption %}<figcaption class="caption">{{ page.image.caption }}</figcaption>{% endif %}
    </figure>
    {% endif %}

    <h1 itemprop="name headline">{{ page.title }}</h1>
    {% if page.subtitle %}
    <h2 itemprop="alternativeHeadline">{{ page.subtitle | escape }}</h2>
    {% endif %}

    <div class="dateline">
      {% if page.date %}
      <span class="date">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {% include formatted-date.html date=page.date %}
        </time>
        {% if page.modified_date %}
        ~
        {% assign mdate = page.modified_date | date_to_xmlschema %}
        <time datetime="{{ mdate }}" itemprop="dateModified">
          {% include formatted-date.html date=mdate %}
        </time>
        {% endif %}
      </span>
      {% endif %}

      {% if page.categories %}
      <span>|</span>
      {% assign category-values=page.categories %}
      {% include category-list.html type="category" %}
      {% endif %}

      {% if page.categories %}
      <span>|</span>
      {% assign category-values=page.tags %}
      {% include category-list.html type="tag" %}
      {% endif %}
    </div>
  </header>

  <div class="toc">
    {% if page.include-toc %}
      {% include toc.html html=content %}
    {% endif %}
  </div>
  
  <div itemprop="articleBody" id="articleBody">
    {{ content }}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>